.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: -200px; /* Initially hidden off-screen */
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0; /* Show sidebar when open */
  }
  
  .sidebar button {
    margin: 10px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #555;
  }
  
  .sidebar ul li i {
    margin-right: 10px;
  }
  
  .sidebar ul li .sidebar-text {
    display: inline-block;
    vertical-align: middle;
  }
  