<div class="sidebar" [ngClass]="{ 'collapsed': !isOpen }">
  <button (click)="toggleSidebar()">&#9776;</button>
  <ul>
    <li>
      <i class="fas fa-th"></i>
      <span class="sidebar-text">Dashboard</span>
    </li>
    <li>
      <i class="fas fa-tag"></i>
      <span class="sidebar-text">Deals</span>
    </li>
    <li>
      <i class="fas fa-chart-line"></i>
      <span class="sidebar-text">Reports</span>
    </li>
    <li>
      <i class="fas fa-cogs"></i>
      <span class="sidebar-text">Config</span>
    </li>
  </ul>
</div>
